jupyterlab-ou-brand-extension==0.2.3
jupyterlab-cell-status-extension==0.2.2
jupyterlab-empinken-extension==0.6.2
#jupyterlab-myst==2.4.0
#jupyterlab-spellchecker==0.8.4 #no access to eg aspell/hunspell dictionaries?
jupyterlab-unfold==0.3.0
#jupyter-archive==3.4.0 # no access to zip etc
jupyterlab-filesystem-access==0.6.0

# This extension allows us to open a notebook from the shared directory
jupyterlab-open-url-parameter==0.3.0